[submodule "d3-mirror-linux-4.9"]
	path = kernel/kernel-4.9
	url = git@github.com:D3Engineering/nvidia-kernel-linux-4.9.git
[submodule "d3-mirror-linux-nvgpu"]
	path = kernel/nvgpu
	url = git@github.com:D3Engineering/nvidia-kernel-linux-nvgpu.git
[submodule "d3-mirror-linux-nvidia"]
	path = kernel/nvidia
	url = git@github.com:D3Engineering/nvidia-kernel-linux-nvidia.git
[submodule "d3-mirror-hardware-nvidia-soc-tegra"]
	path = hardware/nvidia/soc/tegra
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-soc-tegra.git
[submodule "d3-mirror-hardware-nvidia-soc-t210"]
	path = hardware/nvidia/soc/t210
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-soc-t210.git
[submodule "d3-mirror-hardware-nvidia-soc-t19x"]
	path = hardware/nvidia/soc/t19x
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-soc-t19x.git
[submodule "d3-mirror-hardware-nvidia-soc-t18x"]
	path = hardware/nvidia/soc/t18x
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-soc-t18x.git
[submodule "d3-mirror-hardware-nvidia-platform-tegra-common"]
	path = hardware/nvidia/platform/tegra/common
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-tegra-common.git
[submodule "d3-mirror-hardware-nvidia-platform-t210-porg"]
	path = hardware/nvidia/platform/t210/porg
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t210-porg.git
[submodule "d3-mirror-hardware-nvidia-platform-t210-jetson"]
	path = hardware/nvidia/platform/t210/jetson
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t210-jetson.git
[submodule "d3-mirror-hardware-nvidia-platform-t210-common"]
	path = hardware/nvidia/platform/t210/common
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t210-common.git
[submodule "d3-mirror-hardware-nvidia-platform-t19x-galen-kernel-dts"]
	path = hardware/nvidia/platform/t19x/galen/kernel-dts
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t19x-galen-kernel-dts.git
[submodule "d3-mirror-hardware-nvidia-platform-t19x-galen-bct"]
	path = hardware/nvidia/platform/t19x/galen/bct
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t19x-galen-bct.git
[submodule "d3-mirror-hardware-nvidia-platform-t19x-common"]
	path = hardware/nvidia/platform/t19x/common
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t19x-common.git
[submodule "d3-mirror-hardware-nvidia-platform-t18x-quill"]
	path = hardware/nvidia/platform/t18x/quill
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t18x-quill.git
[submodule "d3-mirror-hardware-nvidia-platform-t18x-common"]
	path = hardware/nvidia/platform/t18x/common
	url = git@github.com:D3Engineering/nvidia-hardware-nvidia-platform-t18x-common.git
