/*
 * Copyright (c) 2018-2019, D3 Engineering. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "d3-reset-cam.dtsi"
#include "d3-check-cam.dtsi"


#define CAM_MODEL ov10640

#define CAM_NODE CONCAT_3(CAM_MODEL,_,PORT_IDX)
#define CAM_NODE_NAME CONCAT_3(CAM_MODEL,@,IMG_ADDR)
#define SEN_OUT_NODE CONCAT_2(sen_out_, CAM_NODE)

#define SEN_PATH CONCAT_3(SER_PATH,/,CAM_NODE_NAME)
#define SER_NODE_OVERLAY			\
	gpio-rmten = <0x0>;			\
	gpio-out-src = <0x6>;			\
	gpio-out-en = <0x3>;			\
	gpio-in-en = <0x4>;			\
	hs-clk-div = <2>;			\
	div-m-val = <1>;			\
	div-n-val = <40>;			\
	fsync-gpio = <0>;			\
	wait-for-self-configure;


#define OV10640_MODE_COMMON				\
	mclk_khz = "25000";				\
	mclk_multiplier = "22.0";			\
	num_lanes = STR(CSI_LANES);			\
	tegra_sinterface = STR(TEGRA_SINTERFACE);	\
	discontinuous_clk = "no";			\
	dpcm_enable = "false";				\
	cil_settletime = "0";				\
	csi_pixel_bit_depth = "12";			\
	pixel_phase = "bggr";				\
	active_w = "1280";				\
	active_h = "1080";				\
	readout_orientation = "0";			\
	line_length = "1450";				\
	inherent_gain = "1";				\
	serdes_pix_clk_hz = "535000000";		\
	pix_clk_hz = "71428571";			\
	min_framerate = "30";				\
	max_framerate = "30";				\
	embedded_metadata_height = "0";			\
	vc_id = STR(PORT_VCID)


&SER_NODE {
	CAM_NODE: CAM_NODE_NAME {
		status = STR(STATUS);
		compatible = "d3,ov10640";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <HEX_PREFIX(IMG_ADDR)>;
		physical-addr = <0x32>;
		devnode = STR(CONCAT_2(video,PORT_IDX));
		mclk = "extperiph1";
		physical_w = "5.41";
		physical_h = "4.57";
		sensor_model = "ov10640";

		use_decibel_gain = "false";
		use_sensor_mode_id = "true";

		deserializer = <&DES_NODE>;

		/* Long exposure mode (linear) */
		mode0 {
			OV10640_MODE_COMMON;
			mode_type = "bayer";
			min_gain_val = "1.0";
			max_gain_val = "8.0";
			/* minimum is one line */
			min_exp_time = "20";
			/* maximum is (frame period - 6 lines) */
			max_exp_time = "33698";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
		};

		/* 3 exposure HDR mode  */
#if D3_OV10640_HDR_ENABLE
		mode1 {
			OV10640_MODE_COMMON;
			mode_type = "bayer_wdr_pwl";
			/* min == max to disable AE gain
			 * control in HDR mode. */
			min_gain_val = "1.0";
			max_gain_val = "8.0";

			min_exp_time = "640";
			max_exp_time = "32640";

			/* 1 row / 1 row */
			min_hdr_ratio = "1024.0";
			/* 1660 rows / 1/32 row */
			max_hdr_ratio = "1024.0";
			dynamic_pixel_bit_depth = "20";
			/* num_control_point = "4"; */
			/* control_point_x_0 = "2047"; */
			/* control_point_y_0 = "511"; */
			/* control_point_x_1 = "16383"; */
			/* control_point_y_1 = "1407"; */
			/* control_point_x_2 = "65535"; */
			/* control_point_y_2 = "2175"; */
			/* control_point_x_3 = "1048575"; */
			/* control_point_y_3 = "4095"; */
			num_control_point = "5";
			control_point_x_0 = "0";
			control_point_y_0 = "0";
			control_point_x_1 = "2048";
			control_point_y_1 = "512";
			control_point_x_2 = "16384";
			control_point_y_2 = "1408";
			control_point_x_3 = "65536";
			control_point_y_3 = "2176";
			control_point_x_4 = "1048576";
			control_point_y_4 = "4096";

		};
#endif /* D3_OV10640_HDR_ENABLE */

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			status = STR(STATUS);
			port@0 {
				reg = <0>;
				SEN_OUT_NODE: endpoint {
					vc-id = <PORT_VCID>;
					status = STR(STATUS);
					port-index = <CSI_PORT>;
					bus-width = <CSI_LANES>;
					remote-endpoint = <&CSI_IN_NODE>;
				};
			};
		};

	};
};

#include "d3-overlays-cam.dtsi"
