/*
 * Copyright (c) 2019, D3 Engineering. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

// resets everything set by a cam template

#undef CAM_MODEL
#undef CAM_NODE
#undef CAM_NODE_NAME
#undef SEN_OUT_NODE
#undef SEN_PATH
#undef SER_NODE_OVERLAY
#undef DRIVER_NAME
