/*
 * Copyright (c) 2019, D3 Engineering. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#ifndef D3_STRING_UTILS_H__
#define D3_STRING_UTILS_H__

#define X_STR(a) #a
#define STR(a) X_STR(a)

#define X_CONCAT_2(a,b) a##b
#define CONCAT_2(a,b) X_CONCAT_2(a,b)

#define X_CONCAT_3(a,b,c) a##b##c
#define CONCAT_3(a,b,c) X_CONCAT_3(a,b,c)

#define X_CONCAT_4(a,b,c,d) a##b##c##d
#define CONCAT_4(a,b,c,d) X_CONCAT_4(a,b,c,d)

#define X_CONCAT_5(a,b,c,d,e) a##b##c##d##e
#define CONCAT_5(a,b,c,d,e) X_CONCAT_5(a,b,c,d,e)

#define X_CONCAT_6(a,b,c,d,e,f) a##b##c##d##e##f
#define CONCAT_6(a,b,c,d,e,f) X_CONCAT_6(a,b,c,d,e,f)

#define X_CONCAT_8(a,b,c,d,e,f,g,h) a##b##c##d##e##f##g##h
#define CONCAT_8(a,b,c,d,e,f,g,h) X_CONCAT_8(a,b,c,d,e,f,g,h)

#define HEX_PREFIX(a) CONCAT_2(0x, a)
#define AMPER_PREFIX(a) CONCAT_2(&, a)

#define JOIN_2(a,b) a b
#define JOIN_3(a,b,c) a b c
#define JOIN_4(a,b,c,d) a b c d

#endif
