/*
 * Copyright (c) 2018-2019, D3 Engineering.  All rights reserved.  * * This program is free software; you can redistribute it and/or modify * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */
#include "d3-xavier.dtsi"
#define D3_BOARD_XAVIER_CIC
/ {

	/* I2C_CAM, DT alias: i2c2 (clock: C6, data: D6) */
	i2c@3180000 {

		/* Microchip 24AA1026 (U28) */
		eeprom@50 {
			status = "okay";
			compatible = "atmel,24c1024";
			reg = <0x50>;
			pagesize = <128>;

		};

		/* I2C MUX: TCA9546 (U27) */
		mux@70 {
			status = "okay";
			compatible = "nxp,pca9546";
			reg = <0x70>;
			#address-cells = <1>;
			#size-cells = <0>;
			vcc-supply = <&p2822_vdd_1v8_cvb>;
			vcc-pullup-supply = <&p2822_vdd_1v8_cvb>;

			i2c_fpdlink: i2c@0 {
				status = "okay";
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux,deselect-on-exit;

				/*  DS90UB960 Deserializer (U1) */
				ds90ub960: ub960@32 {
					status = "okay";
					compatible = "d3,ub960";
					reg = <0x32>;
					#address-cells = <1>;
					#size-cells = <0>;

					iovdd-supply = <&p2822_vdd_1v8_cvb>;
					avdd-supply = <&fpd_vdd>;
					pdb-gpios = <&tegra_main_gpio TEGRA_MAIN_GPIO(T, 6) GPIO_ACTIVE_LOW>;
					/* Valid values are: 1600, 1200, 800, 400 NOTE
					 * that 1600 is dependent upon REFCLK. For a 25Mhz
					 * REFCLK the speed is 1600, for 23 Mhz is it
					 * 1472, for for 26Mhz it is 1664
					 *
					 * If this is not present 1600* is used
					 */
					csi-tx-speed-mbps = <1600>;
					/* 1,2,3, or 4 */
					csi-lane-count = <4>;

					/* 0, or 1 */
					csi-continuous-clock = <1>;

					ds90ub960_link0: link@0 {
						status = "okay";
                                                reg = <0>;
						#address-cells = <1>;
						#size-cells = <0>;
					};

					ds90ub960_link1: link@1 {
						status = "okay";
						reg = <1>;
						#address-cells = <1>;
						#size-cells = <0>;
					};

					ds90ub960_link2: link@2 {
						status = "okay";
						reg = <2>;
						#address-cells = <1>;
						#size-cells = <0>;
					};

					ds90ub960_link3: link@3 {
						status = "okay";
						reg = <3>;
						#address-cells = <1>;
						#size-cells = <0>;
					};
				};
			};

			i2c_gmsl: i2c@1 {
				status = "okay";
				reg = <1>;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux,deselect-on-exit;

				/* MAX929 Deserializer (U2) */
				max9296: max9296@48 {
					status = "okay";
					compatible = "maxim,max9296";
					reg = <0x48>;
					#address-cells = <1>;
					#size-cells = <0>;
					vdd-supply = <&p2822_vdd_1v8_cvb>;
					gmsl-supply = <&gmsl_vdd>;
					reset-gpios = <&tegra_main_gpio TEGRA_MAIN_GPIO(H, 3) GPIO_ACTIVE_LOW>;
					gmsl-lock-gpios = <&gpio_i2c_2_74 7 GPIO_ACTIVE_HIGH>;
					gmsl-err-gpios = <&gpio_i2c_2_74 15 GPIO_ACTIVE_HIGH>;
					csi-tx-speed-mbps = <1600>;
					csi-lane-count = <4>;
					csi-continuous-clock = <1>;
					max9296_link0: link@0 {
						status = "okay";
						reg = <0>;
						#address-cells = <1>;
						#size-cells = <0>;
					};

					max9296_link1: link@1 {
						status = "okay";
						reg = <1>;
						#address-cells = <1>;
						#size-cells = <0>;
					};
				};
			};

			/* Bus 2 is not used */
			i2c_exp: i2c@2 {
				status = "okay";
				reg = <2>;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux,deselect-on-exit;
			};

			/* Bus 3 is not used */
			i2c_test: i2c@3 {
				status = "okay";
				reg = <3>;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux,deselect-on-exit;
			};
		};

		/* I2C GPIO expander TCA9539 (U29) */
		gpio_i2c_2_74: gpio@74 {
			status = "okay";
			compatible = "ti,tca9539";
			reg = <0x74>;
			#gpio-cells = <2>;
			gpio-controller;
			vcc-supply = <&p2822_vdd_1v8_cvb>;
			/* interrupt-controller; */
			/* interrupt-parent = <&tegra_aon_gpio>; */
			/* interrupts = <TEGRA_AON_GPIO(AA, 2) IRQ_TYPE_EDGE_BOTH>; */
		};

		/* I2C GPIO expander TCA9539 (U31) */
		gpio_i2c_2_76: gpio@76 {
			status = "okay";
			compatible = "ti,tca9539";
			reg = <0x76>;
			#gpio-cells = <2>;
			gpio-controller;
			vcc-supply = <&p2822_vdd_1v8_cvb>;
			/* interrupt-controller; */
			/* interrupt-parent = <&tegra_aon_gpio>; */
			/* interrupts = <TEGRA_AON_GPIO(AA, 2) IRQ_TYPE_EDGE_BOTH>; */
		};
	};

	fixed-regulators {
		/* 1.1V regulator (U5) */
		fpd_vdd_1v1: regulator@300 {
			status = "okay";
			reg = <0x12c>;
			regulator-name = "fpd-1v1";
			compatible = "regulator-fixed";
			regulator-always-on;
			regulator-min-microvolt = <1100000>;
			regulator-max-microvolt = <1100000>;
			vin-supply = <&p2822_vdd_1v8_cvb>;
		};
		/* 1.2V regulator (U20) */
		gmsl_vdd_1v2: regulator@301 {
			status = "okay";
			reg = <0x12d>;
			regulator-name = "gmsl-1v2";
			compatible = "regulator-fixed";
			regulator-always-on;
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			vin-supply = <&p2822_vdd_1v8_cvb>;
		};
		/* GMSL regulator (U30) */
		/* Controlled by the Camera Connector Pin 93 */
		gmsl_vdd: regulator@302 {
			status = "okay";
			reg = <0x12e>;
			regulator-name = "gmsl_vdd";
			compatible = "regulator-fixed";
			regulator-always-on;
			gpio = <&tegra_main_gpio TEGRA_MAIN_GPIO(H, 6) GPIO_ACTIVE_LOW>;
			enable-active-high;
		};
		/* FPD-Link regulator (U21) */
		/* Controlled by the Camera Connector Pin 90 */
		fpd_vdd: regulator@303 {
			status = "okay";
			reg = <0x12f>;
			regulator-name = "fpd_vdd";
			compatible = "regulator-fixed";
			regulator-always-on;
			gpio = <&tegra_main_gpio TEGRA_MAIN_GPIO(T, 5) GPIO_ACTIVE_LOW>;
			enable-active-high;
		};
	};

	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";
		num_csi_lanes = <8>;
		max_lane_speed = <1500000>;
	};
};


&vi_base {
	num-channels = <6>;
	vi_ports: ports {
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&csi_base {
	num-channels = <6>;
};

#include "d3-cic-cam0-3.dtsi"
#include "d3-cic-cam4.dtsi"
