#define SER_NODE CONCAT_3(SER_MODEL,_,PORT_IDX)
#define SER_EEPROM_NODE CONCAT_3(SER_NODE,_,eeprom)
#define SER_NODE_NAME CONCAT_3(SER_MODEL,@,SER_ADDR)
#define DES_LINK_PATH CONCAT_3(DES_PATH,/link@,DES_LINK)
#define SER_PATH CONCAT_3(DES_LINK_PATH,/,SER_NODE_NAME)
#define SER_GPIO_NODE CONCAT_3(SER_MODEL,_gpio_,PORT_IDX)

#define SER_GPIO_EXP_NODE CONCAT_3(SER_MODEL,_gpio_exp_,PORT_IDX)
#define SER_GPIO_EXP_NODE_NAME CONCAT_3(pcal953,@,GPIO_EXP_ADDR)

#ifndef SER_ADDR
#define SER_ADDR SER_ADDR_PHYSICAL
#endif

#ifndef GPIO_EXP_ADDR
#define GPIO_EXP_ADDR GPIO_EXP_ADDR_PHYSICAL
#endif

#ifndef IMG_BUS
#define IMG_BUS SER_BUS
#endif

#define DES_LINK_NODE CONCAT_3(DES_NODE,_link, DES_LINK)
#ifdef DES_PIPE
#define DES_PIPE_NODE CONCAT_3(DES_NODE,_pipe, DES_PIPE)
#endif
#ifdef GMSL_LINK
#define SER_LINK_NODE CONCAT_2(SER_NODE,_link0)
#else
#define SER_LINK_NODE DES_LINK_NODE
#endif

/ {
	aliases {
		CONCAT_2(i2c, SER_BUS) = &DES_LINK_NODE;
#if SER_BUS != IMG_BUS
		CONCAT_2(i2c, IMG_BUS) = &SER_LINK_NODE;
#endif
	};
};
