config D3_IMX390
	tristate "IMX390 Camera Driver"
	help
	  D3 IMX390 Camera Driver for Nvidia Tegra systems.
config D3_IMX390_HDR_ENABLE
    bool "IMX390 HDR Mode"
    depends on D3_IMX390
    help
      Enable HDR mode for D3 imx390 driver
